extends ./layout.jade

block content
  .row
    .col-sm-12
      h1
        span 1batch&nbsp;
        small is an app for sharing 8 photos.
  .row
    .col-sm-12.col-md-6
      p
        span You're logged out now.
        span &nbsp;&nbsp;&nbsp;
        a(href="/login")
          button.btn.btn-primary Log In or Register

      h2 Bye!
