extends ./layout.jade

block content
  .row
    .col-sm-12.underbar
      if forUser
        a.btn.btn-info.pull-right(href="/logout") Log Out
      else
        a.btn.btn-primary.pull-right(href="/profile") Log In
      h2
        a(href="/") 1batch
        small &nbsp;an app for sharing 8 photos.
  .row
    .col-sm-12.col-md-6
      a.btn.btn-success(href="/profile") Profile Page
      br
      br
      br
      if follows.length
        ul
          for follow in follows
            li
              a(href="/profile/#{follow.end_user_id}")= follow.end_user_id
      else
        h3 You don't follow any users.

  if publishers.length
    .row
      .col-sm-12
        h3 Recent publishes:
        ul
          for publisher in publishers
            li
              a(href="/profile/#{publisher}") #{publisher}
