extends ./layout.jade

block content
  .row
    .col-sm-12.underbar
      if forUser
        a.btn.btn-info.pull-right(href="/logout") Log Out
      else
        a.btn.btn-primary.pull-right(href="/profile") Log In
      h2
        span 1batch&nbsp;
        small an app for sharing 8 photos.
  .row
    .col-sm-12.col-md-6
      if follows.length
        ul
          for follow in follows
            li
              a(href="/profile/#{follow.end_user_id}")= follow.end_user_id
      else
        h3 You don't follow any users.
