doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    title 1batch
    link(rel="stylesheet", type="text/css", href="/lib/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/1batch.css")
  body
    .navbar.navbar-fixed-top
      .container
        h2
          span 1batch&nbsp;
          small is an app for sharing 8 photos.
          a.btn.btn-primary.pull-right(href="/profile") Log In
    .container.main
      .row
        .col-sm-12.col-md-6
          h3 Publish one album
          p 📷 Take your time to pick the perfect set of 8 photos, then publish all at once.
          p 🌟 Follow your friends and help them pick their top photos.
        .col-sm-12.col-md-6
          h3 Stick to it
          p ⏰ Don't add any new photos for 6 months.
          p 📱 Do post comments and updates: (We got engaged! Your friend finished a project!)
          p 💔 You can always hide or delete a photo if it's no longer relevant.
      .row.homephotos
        .col-sm-6.col-lg-3
          .pcon
            img(src="images/home1.jpg")
        .col-sm-6.col-lg-3
          .pcon
            img(src="images/home2.jpg")
        .col-sm-6.col-lg-3
          .pcon
            img(src="images/home3.jpg")
        .col-sm-6.col-lg-3
          .pcon
            img(src="images/home4.jpg")
      .row
        .col-sm-12
          h2 What can you say in 8 photos?
      .row.homephotos
        .col-sm-6.col-lg-3
          .pcon
            img(src="images/home8.jpg")
        .col-sm-6.col-lg-3
          .pcon
            img(src="images/home7.jpg")
        .col-sm-6.col-lg-3
          .pcon
            img(src="images/home6.jpg")
        .col-sm-6.col-lg-3
          .pcon
            img(src="images/home5.jpg")
      .row
        .col-sm-12
          hr
          h4 💻 1batch's code is free and open source
          p That means coders can add on to it, or make their own apps. And anyone can code, so that new app might be yours!
          p
            span Check out our&nbsp;
            a(href="https://github.com/mapmeld/1batch") GitHub project
            span &nbsp;and&nbsp;
            a(href="https://github.com/mapmeld/1batch/wiki/Getting-Started") Getting Started
            span &nbsp;page.
