html, body {
  font-family: 'Noto Sans', sans-serif;
}

.navbar {
  background: #fff;
  border-bottom: 1px solid #000;
}

.navbar h1 {
  margin-bottom: 0;
}

.main {
  margin-top: 80px;
  margin-bottom: 60px;
}

.row {
  margin-bottom: 18px;
}

.col-sm-12.col-md-6 {
  margin-bottom: 18px;
}

.pcon {
  border: 3px solid #000;
  background: #fff;
  padding: 6px;
  width: 100%;
  display: block;
}

.pcon img {
  background: #444;
  width: 100%;
}

.homephotos {
  margin-top: 50px;
}

.profilephotos .pcon {
  cursor: pointer;
}

.profilephotos .pcon:hover, .profilephotos .pcon:active {
  background: #ccf;
}

.bigimage {

}

.comment {
  padding: 12px;
  background: #fff;
  box-shadow: 2px 2px 2px #444;
}

.comment.op {
  border: 1px solid blue;
}

form input, form label {
  display: block;
}

a button {
  color: #000;
}

a .btn-inverse {
  color: #fff;
}

a button:hover {
  text-transform: none;
}
